body{
    background-color:grey;
}
header h1{
    font-family:'Great Vibes',cursive;
}
header{
    background-color: #111;
    color:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
nav a{
    color:white;
    margin-left:20px;
    font-weight:bold;
}
.real{
    
    color:white;
    text-align:center;
    padding:60px 20px;
}
.product-list{
    display:flex;
    justify-content: center;
    gap:25px;
    flex-wrap:wrap;
}
.products{
    padding:40px;
}
.products h2{
    text-align:center;
    margin-bottom:30px;
}
.product-card img{
    width:100%;
    border-radius:8px;
    margin-bottom:10px;
}
.product-card h3{
    margin:10px o;
}
.product-card p{
    font-weight:bold;
}
footer{
    background-color: #111;
    color:white;
    text-align:center;
    padding: 15px;
    margin-top:40px;
}